.candidates {
  display: flex;
  justify-content: space-between;
}

.results {
  display: flex;
  gap: 30px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.votes {
  flex-grow: 1;
}
